<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration  
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>
	 <typeAliases>  
         <typeAlias type="cn.com.mrs.zhao.object.SysUser" alias="SysUser"/>
         <typeAlias type="cn.com.mrs.zhao.object.SysPerson" alias="SysPerson"/>
         <typeAlias type="cn.com.mrs.zhao.object.SysPersonFlow" alias="SysPersonFlow"/>
         <typeAlias type="cn.com.mrs.zhao.object.SysRoom" alias="SysRoom"/>
         <typeAlias type="cn.com.mrs.zhao.object.SysMoneyFlow" alias="SysMoneyFlow"/>
     </typeAliases>
</configuration>